body {
    padding: 0;
    margin: 0;
    width:100vw;
    height:100vh;
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button {
    padding: 10px;
	width: 60vw;
	height: 10vh;
	font-size: larger;
	background-color: rgb(1, 7, 123);
	border-radius: 25%;
    border-style: double;
    border-color: #ed33bf;
    color:#ed33bf;
}
.option:hover{
	background-color: rgb(87, 229, 239);
}
.start-button, .next-button {
    width: 10vw;
    border-radius: 10%;
	height: 10vh;
	margin: 0px;
	padding: 10px;
	display:inline;
	justify-content: space-around;
	background-color:rgb(1, 7, 123);
    border-style: double ;
    border-color: #ed33bf;
    color: #ed33bf;
    font-size: larger;
}