body {
    padding: 0;
    margin: 0;
    width:100vw;
    height:100vh;
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button {
    padding: 10px;
	width: 15vw;
	height: 10vh;
	font-size: larger;
	background-color: rgb(1, 7, 123);
	border-radius: 25%;
    color:#ed33bf;
}